body {
    background-color:  rgb(103, 201, 248);
    overflow-x: hidden;
}

h1 {
    font-size: 370%;
    font-family: fonte;
    
    left:45%;
    top:45%;
    margin-left: 300px;
    margin-top:-1950px;

    animation-duration: 3s;
    animation-name: nome;
    animation-iteration-count: 1;
}

@font-face {
    font-family: 'fonte';
    src: url('FreePixel.ttf');
    font-weight: normal;
    font-style: normal;
}

.classe1 {
    animation-duration: 3s;
    animation-name: nuvem;
    position: relative;

    /*Duração da animação*/
    animation-duration: 60s;
    animation-name: nuvem1;
    /*Número de vezes que a animação irá se repetir*/
    animation-iteration-count: 37;
    
    
}

.classe2 {

    margin-left:-150px;
    margin-top: 130;


}

.terra{
    margin-left:-25px;
    margin-top: 0;
}

.balao{
    margin-left: 500px;
    margin-top: -700;
    position: absolute;

    animation-name: balaoA;
    animation-duration: 60s;


}


@keyframes balaoA{
    0%{
        margin-left: 20px;
        margin-top: 300;
    }
    100%{
        margin-top: -700;
    }
}

/*Movimentos que a nuvem realizará*/
@keyframes nuvem1 {

    0%{
        margin-top: 0;
    }
    50%{
        margin-left:1100;
    }
}

@keyframes nome{
    0%{
        left:45%;
        top:45%;
        margin-left: -300px;
        margin-top: -2000px;
    }
    50%{
        left:45%;
        top:45%;
        margin-left: 300px;
        margin-top:-1950px;
    }
}




