body {
    background-color:  rgb(103, 201, 248);
    overflow-x: hidden;
}

h1 {
    font-size: 370%;
    font-family: fonte;
    
    left:45%;
    top:45%;
    margin-left: 300px;
    margin-top:-1950px;

    animation-duration: 3s;
    animation-name: nome;
    animation-iteration-count: 1;
}

@font-face {
    font-family: 'fonte';
    src: url('FreePixel.ttf');
    font-weight: normal;
    font-style: normal;
}

.Cnuvem {
    animation-duration: 3s;
    animation-name: nuvem;
    position: relative;

    /*Duração da animação*/
    animation-duration: 60s;
    animation-name: nuvem1;
    /*Número de vezes que a animação irá se repetir*/
    animation-iteration-count: 37;
    
    
}

.Cmontanha {
    margin-left:-150px;
    margin-top: 130;
}

.Cterra{
    margin-left:-25px;
    margin-top: 0;
}

.Cbalaol{
    margin-left: 500px;
    margin-top: -700;
    position: absolute;

    animation-name: balaoL;
    animation-duration: 30s;
    animation-iteration-count: 37;
}

.Cbalaov{
    position: absolute;
    margin-left: 700px;
    margin-top: -110;

    animation-name: balaoV;
    animation-duration: 35s;
    animation-iteration-count: 37;
}

@keyframes balaoL{
    0%{
        margin-left: -100px;
        margin-top: 400;
    }
    100%{
        margin-top: -110;
    }
}

@keyframes balaoV{
    0%{
        margin-left: -50px;
        margin-top: 400;
    }
    100%{
        margin-top: -110;
    }
}

/*Movimentos que a nuvem realizará*/
@keyframes nuvem1 {

    0%{
        margin-top: 0;
    }
    50%{
        margin-left:1100;
    }
}

@keyframes nome{
    0%{
        left:45%;
        top:45%;
        margin-left: -300px;
        margin-top: -2000px;
    }
    50%{
        left:45%;
        top:45%;
        margin-left: 300px;
        margin-top:-1950px;
    }
}




